@model NMVS.Models.GeneralizedCode
@{
    ViewData["Title"] = "Create New Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center" style="margin-top:10px">Create New Code</h3>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <strong style="color:white">Error! @ViewBag.ErrorMessage</strong>

                    </div>
                }
                <form asp-action="Create" method="POST">
                    <div class="form-group col-4">
                        <label asp-for="CodeFldName" class="control-label"></label>
                        <input asp-for="CodeFldName" class="form-control" />
                        <span asp-validation-for="CodeFldName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="CodeValue" class="control-label"></label>
                        <input asp-for="CodeValue" class="form-control" />
                        <span asp-validation-for="CodeValue" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="CodeDesc" class="control-label"></label>
                        <input asp-for="CodeDesc" class="form-control" />
                        <span asp-validation-for="CodeDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
