@model NMVS.Models.ViewModels.LoginVm
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Account.cshtml";

}
<div class="card-body">
    <style>
        body {
            font-family: 'Be Vietnam Pro', sans-serif;
            font-weight: bold;
        }

        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-family: 'Be Vietnam Pro', sans-serif;
            
        }
    </style>
    <form role="form" id="account" method="post" asp-action="Login" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>

        <div class="mb-3">
            <input asp-for="UserName" type="text" class="form-control form-control-lg" placeholder="User account"
                aria-label="User account">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="Password" class="form-control form-control-lg" placeholder="Password" aria-label="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @* <div class="form-group">
            <label asp-for="Site" class="control-label"></label>
            @Html.DropDownList("Site", new SelectList(ViewBag.SiteList, "SiCode", "SiDesc"), new {@class = "form-control"} )
            <span asp-validation-for="Site" class="text-danger"></span>
            </div> *@
        <div class="form-check form-switch">
            <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberMe">
            <label class="form-check-label" for="rememberMe" style=" font-family: 'Be Vietnam Pro', sans-serif;">Remember me</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
        </div>
    </form>
</div>
<div class="card-footer text-center pt-0 px-lg-2 px-1">
    <p class="mb-4 text-sm mx-auto">
        Don't have an account?
        <a href="/Account/Register" class="text-primary text-gradient font-weight-bold">Sign up</a>
    </p>
    <a href="/Documents/Register" class="text-primary text-gradient font-weight-bold">View documentations</a>
</div>
