<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <title>
        @ViewData["Title"] - NMVS
    </title>
    <!--     Fonts and icons     -->
    <link href="~/assets/css/css.css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="~/assets/js/42d5adcbca.js"></script>
    <!-- CSS Files -->
    <link href="~/assets/css/soft-ui-dashboard.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card">
                                <div class="card-header pb-0 text-start">
                                    <h4 class="font-weight-bolder">Sign In</h4>
                                    <p class="mb-0">Enter your account and password to sign in</p>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                            <div class="position-relative bg-gradient-faded-info h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                                <img src="../assets/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
                                <div class="position-relative">
                                    <img class="max-width-500 w-100 position-relative z-index-2" src="~/assets/img/logo/home-nmv.png" alt="chat-img">
                                    @*<span class="col-1">
                                            <img class=" " src="~/assets/img/logo/home-slogan.png" alt="chat-img">
                                        </span>*@
                                </div>
                                <h4 class="mt-5 text-white font-weight-bolder">"We are here! On customer's side."</h4>
                                @*<p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <partial name="_ValidationScriptsPartial" />

   
</body>

</html>


