<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>
        @ViewData["Title"] - NMVS
    </title>

    <!--     Fonts and icons     -->
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link href="~/assets/js/free-v4-font-face.min.css" rel="stylesheet" />
    <link href="~/assets/js/free-v4-shims.min.css" rel="stylesheet" />
    <link href="~/assets/js/free.min.css" rel="stylesheet" />
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&family=Space+Mono:ital,wght@1,700&display=swap"
        rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        var apiUrl = location.protocol + "//" + location.host;
    </script>
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/soft-ui-dashboard.min.css?v=1.0.4" rel="stylesheet">

    <link href="~/assets/datatable/datatables.min.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">
    <style>
        body {
            font-family: 'Be Vietnam Pro', sans-serif;
            font-weight: bold;
        }
    </style>

    <partial name="_SideNav" />
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <partial name="_NavBar" />
        <!-- End Navbar -->
        <!-- Content -->

        <div class="container-fluid py-4">
            @RenderBody()
            <partial name="_Footer" />

        </div>
    </main>

    <!-- Configurator -->
    <partial name="_Configurator" />
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- Kanban scripts -->
    <script src="~/assets/js/plugins/threejs.js"></script>
    <script src="~/assets/js/plugins/orbit-controls.js"></script>
    <!--Datatable-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- Github buttons -->
    <script async="" defer="" src="~/assets/js/buttons.js"></script>

    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/soft-ui-dashboard.min.js?v=1.0.4"></script>
    <!--Sweetalert-->

    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>

</html>