@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2>Error code: 500</h2>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<p>
    Error message: 
    @ViewBag.message
</p>
<p>
    To enhance service, this error message is also reported to NMV technical team.
</p>