@{
    ViewData["Title"] = "Upload Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-info " id="tbl_item_data">
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Account</td>
                        <td>File Name</td>
                        <td>Function</td>
                        <td>Total Records</td>
                        <td>Inserted</td>
                        <td>Updated</td>
                        <td>Errors</td>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tbl_item_data').DataTable({
            "ajax": {
                "url": "/UploadReport/GetReports",
                "dataSrc": ""
            },
            "columns": [
                { "data": "UploadTime" },
                { "data": "UploadBy" },
                { "data": "FileName" },
                { "data": "UploadFunction" },
                { "data": "TotalRecord" },
                { "data": "Inserted" },
                { "data": "Updated" },
                { "data": "Errors" },
                {
                    "data": "Id", "render": (data) => {
                        const content = `<a href="/UploadReport/Details/${data}" class="btn btn-info">Details</a>`
                        return content;
                    }
                },


            ]
        });
    });

</script>
