<div class="progress" style="height: 30px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="font-weight: bold; font-size: 15px; height: 100%;" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div>
    <button class="action back btn btn-outline-warning" style="display: none">Back</button>
    <button class="action next btn btn-outline-primary float-end">Next</button>
</div>