@{

    Layout = "~/Views/Shared/_DocumentsLayout.cshtml";
    ViewData["Title"] = "Allocate";
}

<partial name="_ProgressbarWbutton" />

<div class="card-body p-5 step">
    <p>
        Allocate is to create a movement order that move item inside a site. (to move to another site, please find Sales order with type Warehouse Transfer)
    </p>
    <p>
        There are 2 ways to create a allocate order: Create allocate request function, Unallocated function
    </p>
    <div class="col-auto" align="center">
        <img src="~/assets/documentation/alc-diagram.png" class="img-fluid">
    </div>
    <ul>
        <li>
            Create allocate request: Move many item to a location
        </li>
        <li>
            Unallocated: Split an item to multiple location
        </li>
    </ul>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        To working with Allocate, User should be in role "Arrange inventory"
    </p>

    <div class="col-10" align="center">
        <img src="~/assets/documentation/alc-role.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>I. Unallocated</b>
    </h5>
    <p>
        Unallocated is a list of items that are in Receiving location
    </p>
    <div class="row">
        <p class="col-auto">
            <b>1. From side bar, Allocate, select unallocated</b>
        </p>
        <div class="col-auto" align="center">
            <img src="~/assets/documentation/alc-unallocate-menu.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p class="col-auto">
        <b>2. Click on pick list of an item</b>
    </p>
    <div class="col-md-6" align="center">
        <img src="~/assets/documentation/alc-u-picklist-btn.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p class="col-auto">
        <b>3. Select movement quantity, movement time then submit</b>
    </p>
    <div class="col-md-10" align="center">
        <img src="~/assets/documentation/alc-u-picking.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>II. Create allocate request</b>
    </h5>

    <div class="row">
        <p class="col-auto">
            <b>1. From side bar, Allocate, select unallocated</b>
        </p>
        <div class="col-auto" align="center">
            <img src="~/assets/documentation/alc-c-menu.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p class="col-auto">
        <b>2. Click on button <span class="btn btn-outline-info btn-sm">New allocate request</span></b>
    </p>
    <div class="col-auto" align="center">
        <img src="~/assets/documentation/alc-c-btn.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p class="col-auto">
        <b>3. Select item. It look like Picking in Unallocated function. However, this time you we are going to select multiple item from many location to another single location</b>
    </p>
    <div class="row">
        <div class="col-5">
            <img src="~/assets/documentation/alc-c-step-1.png" class="img-fluid shadow">
        </div>
        <div class="col-5" align="center">
            <img src="~/assets/documentation/alc-c-step-2.png" class="img-fluid shadow">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.side-alc').addClass('active');
        $('#side-alc').css('color', "white");
    })
</script>