@{

    Layout = "~/Views/Shared/_DocumentsLayout.cshtml";
    ViewData["Title"] = "Incoming list";
}
<partial name="_ProgressbarWbutton" />


<div class="card-body p-5 step">
    <p>
        Incoming List is a list of items that are going to receive to warehouse. Include from Supplier and Manufacturing
    </p>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>I. Creat new List</b>
    </h5>
    <p>
        <b>1. User should be in role "Receive inventory". Otherwise, user can not see and access the "Incoming List" menu.</b>
    </p>
    <div class="col-10" align="center">
        <img src="~/assets/documentation/ic-role.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <div class="row">
        <p class="col-auto">
            <b>2. From side bar, select Incoming List</b>
        </p>
        <div class="col-auto" align="center">
            <img src="~/assets/documentation/ic-menu.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
    <b>3. Select Add new list or Upload and fill the information</b>
    </p>
    <p>
        <b class="text-primary">a. Manually input Incoming List data</b>
    </p>
    <p>
        This function let user add Incoming List manually by fill in form.
    </p>
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="~/assets/documentation/ic-list-null.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
        </div>
        <div class="col-md-5 " align="center">
            <img src="~/assets/documentation/ic-header.png" class="img-fluid shadow p-3 mb-5 bg-body rounded">
        </div>
    </div>
    <ul>
        <li>
            Supplier: input supplier code. This field can be fill automatically when click on it
        </li>
        <li>
            PO No. and PO date is not required fields
        </li>
        <li>
            Vehicle & driver: Description about delivery vehicle/transporter
        </li>
        <li>
            Delivery date: date receive the goods.
        </li>
    </ul>
</div>
<div class="card-body p-5 step" style="display: none">
    <p class="text-danger">**Notice: We can assume that Manufacturing is an supplier, Supplier code: MFG. In order to receive item from manufacturing, please input supplier code as "MFG" </p>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        <b class="text-primary">b. Upload Incoming list</b>
    </p>
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="~/assets/documentation/ic-upload.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
        </div>
        <div class="col-md-5">
            <p>
                This function let user upload list of incoming item with Excel file. Supported file type: <b>*.xlsx</b> (<span class="text-success">Microsoft Excel file</span>).
                From Incoming list function, select "Upload"
            </p>
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <div class="row col-12">
        <div class="col-md-4">
            <p>
                Click on <b>Choose file</b> box and browse the file from pop-up Windows browse
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/assets/documentation/ic-upload-select.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        View the upload result
    </p>
    <div class="col-md-auto" align="center">
        <img src="~/assets/documentation/ic-upload-complete.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
</div>
<div class="card-body p-5 step" style="display: none"><div class="row">
    <div class="col-md-auto">
        <p class="text-danger">**Notice: By click on "View report" button, you can view detail of error from file: </p>
        <ul class="text-danger">
            <li>
                Where the error is
            </li>
            <li>
                Why a specific line got error
            </li>
            <li>
                Who was upload the file
            </li>
            <li>
                Uploaded file name
            </li>
            <li>
                Uploaded time
            </li>
        </ul>
    </div>


    <div class="col-md-auto" align="center">
        <img src="~/assets/documentation/ic-error.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
</div></div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>II. Edit Incoming List</b>
    </h5>
    <p>
        <b>
            After import list, we might find out some problem. To edit header or remove list, Please select
            <span class="btn btn-outline-warning btn-sm">Update</span>
            or
            <span class="btn btn-outline-danger btn-sm">Remove</span>
        </b>
    </p>
    <div class="img" align="center">
        <img src="~/assets/documentation/ic-edit-header.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        <b>
            To edit single item, click on the <span class="btn btn-sm">Item no</span> and edit or <span class="text-danger">Remove</span> the information
        </b>
    </p>
    <div class="img" align="center">
        <img src="~/assets/documentation/ic-edit-item.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>III. Pass list to QC</b>
    </h5>
    <p class="text-bold">After correct the information, click on <span class="badge bg-success">open (editable)</span> to Pass to QC</p>
    <div class="row">
        <div class="col-md-auto">

        </div>
        <div class="col-md-auto">

        </div>
    </div>
    <p class="text-danger">**Notice: After close list, user can no longer edit/remove the list </p>
</div>

<div class="card-body">
    
    <h5>
        <b>Excel form template</b>
    </h5>

    <a href="/Documents/DownloadTemplate/incoming">
        <i class="fa fa-download"></i>
        Incoming List template
    </a>

</div>

<script>
    $(document).ready(function () {
        $('.side-ic-list').addClass('active');
        $('#side-ic-list').css('color', "white");
    })
</script>