@{

    Layout = "~/Views/Shared/_DocumentsLayout.cshtml";
    ViewData["Title"] = "Location";
}

<div class="card-header">
    <h3 class="mb-0">@ViewData["Title"]</h3>
</div>
<div class="card-body">
    <h5>
        Location is a concept of smallest storage location, child of Warehouse
    </h5>
    <div class="col-10" align="center">
        <img src="~/assets/documentation/loc-map.png" class="img-fluid">
    </div>
</div>

<partial name="_ProgressbarWbutton" />

<div class="card-body p-5 step">
    <h5>
        <b>I. Create new Location</b>
    </h5>
    <p>
        <b>1. User should be in role "Handle request". Otherwise, user can not see the "Location" menu</b>
    </p>
    <div class="col-10" align="center">
        <img src="~/assets/documentation/site - role.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        <b>2. From side bar, select Location</b>
    </p>
    <div class="col-10" align="center">
        <img src="~/assets/documentation/loc-menu.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        <b>3. Select Add Location and fill the information</b>
    </p>
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="~/assets/documentation/loc-add.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
        </div>
        <div class="col-md-5 " align="center">
            <img src="~/assets/documentation/loc-add-form.png" class="img-fluid shadow p-3 mb-5 bg-body rounded">
        </div>
    </div>
    <p class="text-danger">**Notice: The Active attribute decide this Location is visible in other selection list </p>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        <b>4. View the created Location</b>
    </p>

    <div align="center">
        <img src="~/assets/documentation/loc-list.png" class="img-fluid shadow p-3 mb-5 bg-body rounded col-md-8">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p class="text-danger">
        <b>5. Warning: if you encount this message, that mean the Warehouse code is conflicted. Please select another Warehouse code</b>
    </p>
    <div align="center">
        <img src="~/assets/documentation/loc-existed.png" class="img-fluid shadow p-3 mb-5 bg-body rounded">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>II. Edit Location</b>
    </h5>
    <p>
        <b>Click on Warehouse code button and fill the information</b>
    </p>
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="~/assets/documentation/loc-edit-list.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
        </div>
        <div class="col-md-5 " align="center">
            <img src="~/assets/documentation/loc-edit-form.png" class="img-fluid shadow p-3 mb-5 bg-body rounded">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>III. Remove Warehouse</b>
    </h5>
    <p class="text-danger">**There is no remove option for Site/Warehouse/Location. In order to hide them, please un-check the Active attribute</p>
</div>




<script>
    $(document).ready(function () {
        $('.side-loc').addClass('active');
        $('.navConfig').addClass('active');
        $('#navConfig').addClass('show');
        $('.fa-tools').css('color', 'white');
    })
</script>