@{

    Layout = "~/Views/Shared/_DocumentsLayout.cshtml";
    ViewData["Title"] = "Incoming list";
}

<partial name="_ProgressbarWbutton" />
<div class="card-body p-5 step">
    <p>
        By take action in QC function, user can make item from incoming list to be accepted or be rejected.
        After accepted, item is officially exist in the system, with default location is Receive location
    </p>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        To working with QC function, User should be in role "QC"
    </p>

    <div class="col-10" align="center">
        <img src="~/assets/documentation/qc-role.png" class="img-fluid">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>I. View QC list</b>
    </h5>

    <div class="row">
        <p class="col-auto">
            <b>1. From side bar, select QC</b>
        </p>
        <div class="col-auto" align="center">
            <img src="~/assets/documentation/qc-menu.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <h5>
        <b>II. Process the QC list</b>
    </h5>
    <p>
        <b>1. Click on ID of the line to view detail</b>
    </p>

    <div class="col-md-9" align="center">
        <img src="~/assets/documentation/qc-list.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        <b>2. Click  on <span class="btn btn-outline-warning btn-sm">Pending QC</span> and fill the infomation</b>
    </p>
    <div class="img-fluid">
        <img src="~/assets/documentation/qc-process.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
    <h5 class="text-danger italic">
        Note: In case accept all item, please leave the number zeror at first input zone. Otherwise, input number of <b>rejected quantity</b> and leave some note at second text-box
    </h5>
</div>
<div class="card-body p-5 step" style="display: none">
    <div class="row col-12">
        <div class="col-md-4">
            <p>
                In this example, we <span class="text-danger">rejected 100</span> item with the note "Reject 100 unqualified item"
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/assets/documentation/qc-completed.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
        </div>
    </div>
</div>
<div class="card-body p-5 step" style="display: none">
    <p>
        We can also view the process from the parent list
    </p>
    <div class="col-md-auto" align="center">
        <img src="~/assets/documentation/qc-list2.png" class="img-fluid  shadow p-3 mb-5 bg-body rounded">
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.side-qc').addClass('active');
        $('#side-qc').css('color', "white");
    })
</script>